




.product-details-section{
  padding: 200px 200px;
  background-color: white;
}

.product-details{
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
   
}
.col-1 img{
   padding: 10px 0 0 40px;
}

.col-2{
    margin: 100px 0;
    width: 300px;
}
.col-2 h2{
   /* padding: 20px 0; */
}
.col-2 h3{
    padding: 20px 0;
 }

 .dropbtn{
    background-color: rgb(255, 201, 201);
    margin-bottom: 20px;
    border: 1px solid red;
 }

.adtocart{
    display: flex;
    margin-bottom: 50px;
}
.adtocart input{
  border: 1px dotted red;
  height: 20px;

}
.adtocart button{
    background-color: rgb(253, 196, 196);
  width: 90px;
  padding: 5px;
  border: 1px solid red;
  border-radius: 20px;
  cursor: pointer;
}


/* ---------------- related product------------- */

.related-h1{
    display: flex;
    justify-content: space-between;
    margin: 100px 100px;
}
.col1 h2{
    text-decoration: underline red 4px;
}

.all-product-items{
    
   display: flex;
   gap: 20px;
   margin-left: 10px;
}
.all-product-item{
    cursor: pointer;
}
